global-reset()
@import "mixins/*"

* 
	box-sizing:border-box

html body
	height:100%

body
	font-family: "Helvetica Neue", arial, sans-serif
	font-weight:100

.btn-green
	background-color:#78c960
	color:#ffffff
	border:none
	box-shadow:0px 1px 2px 0px rgba(88,88,88,0.6)

.btn-download
	background-color:#e45b37
	color:#ffffff
	border-radius:5px
	position:absolute
	width:60px
	height:60px
	left:-24px
	top:40px
	box-shadow:0px 0px 7px 0px rgba(88,88,88,0.6)

img.bg
	position:fixed
	width:110%
	height:110%
	top:-20px
	left:-20px
	-webkit-filter:blur(15px)

.container
	width:1000px
	height:700px
	center()
	padding-top:50px
	position:relative

.main-panel
	border-top-right-radius:8px
	border-bottom-right-radius:8px
	height:100%
	width:480px
	position:absolute
	left:380px

.main-panel-bg
	@extend .main-panel
	opacity:0.15
	background-color:#ffffff

.main-panel-overlay
	@extend .main-panel
	box-shadow:0px 0px 6px 0px #999999
	.head
		position:absolute
		height:160px
		clearfix()
		.step
			float:left
			width:33%
			text-align:center
			color:#A0A9BA
			.btn
				center()
				line-height:32px
				width:36px
				height:36px
				border-radius:50%
				margin-top:46px 
				margin-bottom:10px
				border:1px solid #A0A9BA
				font-weight:500
			.btn-green
				border:none
			.txt
				padding:5px 10px
				font-size:10px
				letter-spacing:1px
			.active
				color:#ffffff
	.body
		background-color:#ffffff
		height:60%
		top:22%
		position:absolute
		width:500px
		border-top-right-radius:5px
		border-bottom-right-radius:5px
		box-shadow:1px 0px 1px 0px #cccccc
		.angle
			angle(14px)
			position:absolute
			left:14%
			top:-7px
			background: #ffffff; /* assign a nice red color */
		.title-area
			height:35%
			.title
				text-align:center
				font-size:18px
				width:100%
				padding-top:50px
			.content
				padding-top:25px
				text-align:center
				font-size:8px
				width:100%
				color:#c9c7c8
				letter-spacing:1px
		.destinations
			height:65%
			border-top:1px solid #e1e1df
			background-color:#f5f4f0
			border-bottom-right-radius:3px
			clearfix()
			.destination
				float:left
				width:33.3%
				height:100%
				color:#a5a5a5
				text-align:center
				.pic
					width:100px
					height:100px
					center()
					margin-top:50px
					img
						cycle(100%)
				.name
					margin-top:30px
					font-size:18px
				.percent
					margin-top:10px
					font-size:20px
			.active
				color:#000000
	.foot
		position:absolute
		height:150px
		bottom:0px
		width:100%
		text-align:center
		letter-spacing:1px
		.info
			position:absolute
			font-size:12px
			color:#ffffff
			bottom:82px
			opacity:0.6
			left:26px
		.btn
			font-size:12px
			width:80px
			height:32px
			line-height:32px
			border-radius:3px
			position:absolute
			color:#ffffff
			opacity:0.9
			cursor:pointer
			box-shadow: 1px 1px 5px 0px #555555
		.btn-pre
			@extend .main-panel-overlay .foot .btn
			bottom:72px
			right:130px
		.btn-next
			@extend .main-panel-overlay .foot .btn
			bottom:72px
			right:30px
		.copyright
			opacity:0.7
			bottom:0px
			position:absolute
			color:#eeeeee
			width:100%
			padding:20px 0px
			border-top:1px solid #aaaaaa
			font-size:10px

.aside-panel
	border-top-left-radius:8px
	border-bottom-left-radius:8px
	height:100%
	width:180px
	position:absolute
	left:200px

.aside-panel-bg
	@extend .aside-panel
	opacity:0.15
	background-color:#ffffff


.aside-panel-overlay
	@extend .aside-panel
	box-shadow:-1px 0px 1px 0px #999999
	.body
		background-color:#ffffff
		height:60%
		top:22%
		right:0px
		position:absolute
		width:230px
		img
			height:100%
			width:100%





