global-reset()

html,body
	width:100%

body
	font-family: "Helvetica Neue", arial, sans-serif
	font-weight:100

.container
	margin:60px auto

.nav
	font-size:24px
	margin:2%
	letter-spacing:1px

.board
	clearfix()
	.card
		.title
			font-size:18px
			line-height:36px
			height:36px
			border-bottom:1px solid #dedede
		.pic
			padding-top:5%
			position:relative
			width:100%
			display:block
			cursor:pointer
			img
				width:100%

@media (min-width: 0px)
	.container
		width:100%
	.card
		width: 100%
		margin: 20px 0%
		height:auto

@media (min-width: 500px)
	.container
		width:95%
	.card
		height:0px
		float:left
		width: 46%
		margin: 20px 2%
		padding-bottom: 60%

@media (min-width: 1000px)
	.container
		width:80%
	.card
		width: 30.333%;
		margin: 20px 1.5%
		padding-bottom: 40%



