html body 
	margin:0px
	padding:0px
	font-family: "Helvetica Neue", arial, sans-serif
	font-weight:100
	background-color:#f5cea6
ul
	margin:0px
	padding:0px

li
	list-style:none

left_width=21%
main_width=58%
right_width=21%

.wrap
	margin:5%
	box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.8)

.nav
	height:80px
	background-color:#fffbf5
	box-shadow: 0 1px 1px 0px rgba(154, 154, 154, 0.3)
	position:relative
	z-index:100
	.btn
		display:inline-block
		width:42px
		height:42px
		border-radius:21px
		margin:18px
		box-sizing:border-box
		background-color:#fffbf5
		border:1px solid #f2eee8
		color:#605e58
	.write
		float:left
		box-sizing:border-box
		width:80px
		height:80px
		border-right:1px solid #f2eee8
		.btn-primary
			background-color:#80a8cc
			border:1px solid #80a8cc

section
	display:table-cell
	vertical-align:top

section.left
	width:left_width
	background-color:#80a8cc
	text-align:center
	color:#ffffff
	letter-spacing:1px
	.profile
		padding:30px 25px
		.avatar
			width:110px
			height:110px
			margin:30px auto
			background-color:#ffffff
			border-radius:50%
		.name
			font-size:20px
			font-weight:200
		.intro
			font-size:16px
			line-height: 1.3
		.website
			display:block
			margin-top:30px
		.follow-btn
			margin:30px auto
			display:block
			width:160px
			border-radius:20px
			background-color:#6c94b8
			height:40px
			line-height:40px
	.pics 
		margin-bottom:100px
		img
			width:100%

section.main
	width:main_width
	background-color:#f2eee8
	.tabs
		margin:40px
		background-color:#fffbf5
		text-align:center
		height:90px
		box-shadow: 0 2px 6px 0px rgba(154, 154, 154, 0.29)
		.tab
			box-sizing:border-box
			display:inline-block
			height:100%
			width:25%
			.title
				margin-top:24px
				font-size:16px
				color:#c6c1b0
			.count
				margin-top:5px
				font-size:16px
				font-weight:500
		.active
			border-bottom:5px solid #80a8cc
	.tweets
		background-color:#fffbf5
		margin:0px 40px 40px 40px
		box-shadow: 0 2px 6px 0px rgba(154, 154, 154, 0.29)
		.tweet
			letter-spacing:1px
			box-sizing:border-box
			border-bottom:1px solid rgba(154, 154, 154, 0.29)
			padding:5% 4%
			.aside 
				display:table-cell
				padding-right:24px
				.avatar
					width:60px
					height:60px
					border-radius:40px
					background-color:#ffffff
			.content
				padding-right:10px
				display:table-cell
				vertical-align:top
				.head
					.name
						font-weight:300
					.at
						margin-left:3px
						color:#c6c1b0
				.txt
					line-height:1.4
					letter-spacing:1px
				.pic
					margin:16px 0px
					img
						width:100%
section.right
	width:right_width
	background-color:#fffbf5
	.trends-area
		padding:30px 33px
		.title
			color:#605e58
			font-size:18px
			margin-bottom:10px
		.trend
			font-size:18px
			color:#80a8cc
			padding:3px 0px
			margin:0px