extends layout/default.jade

block head  
	title css practice
	+css("./build/css/index.css")
	
block content  
	.container
		.nav CSS PRACTICE GALLERY
		section.board
			.card
				.title Chronos
				a.pic(target="_blank" href="./build/chronos.html")
					img(src="./pic/chronos.png")
			.card
				.title Tweets
				a.pic(target="_blank" href="./build/tweets.html")
					img(src="./pic/tweets.png")
			.card
				.title Holiday Pixels
				a.pic(target="_blank" href="./build/holidayPixels.html")
					img(src="./pic/HolidayPixels.jpg")
			.card
				.title Portrate Gallery
				a.pic(target="_blank" href="./build/portraitGallery.html")
					img(src="./pic/Portrait-Gallery-bigger.jpg")
			.card
				.title Easy Note
				a.pic(target="_blank" href="./build/easyNote.html")
					img(src="./pic/EasyNote.jpg")
			.card
				.title Student Guide
				a.pic(target="_blank" href="./build/tweets.html")
					img(src="./pic/Student_Guide.jpg")
	a(href="https://github.com/ltebean/css-practice/tree/gh-pages")
		img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png")

