center()
	margin-left:auto
	margin-right:auto

cycle(n)
	width: n
	height: n
	border-radius: 50%

col(n)
	display: table-cell
	width: n
	vertical-align: top

angle(n)
	width: n 
	height: n
	transform: rotate(45deg)

